.down-icon{
    animation-name: bounce-up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
h1{
    animation-name: slide-in;
    /* animation-timeline: view();
    animation-range: entry 0% cover 50%; */
    animation-duration: 2s;
}
.hero-section p{
     animation-name: slide-in;
    /* animation-timeline: view();
    animation-range: entry 0% cover 50%; */
    animation-duration: 2.4s;
}
h2{
     animation-name: slide-in;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.heading-description{
    animation-name: slide-in;
    animation-timeline: view();
    animation-range: entry 0% cover 55%;
}
.categories-section article, .review-container article{
    animation-name: slide-in;
    animation-timeline: view();
      animation-range: entry 0% cover 20%;
    animation-fill-mode: both;
}
.categories-section article:nth-child(2), .review-container article:nth-child(2){
    animation-range: entry 0% cover 30%;
}
.categories-section article:nth-child(3), .review-container article:nth-child(3){
    animation-range: entry 10% cover 40%;
}
.categories-section article:nth-child(4), .review-container article:nth-child(4){
    animation-range: entry 20% cover 50%;
}
.categories-section article:nth-child(5){
    animation-range: entry 20% cover 60%;
}
.categories-section article:nth-child(6){
    animation-range: entry 10% cover 65%;
}

.popular-listing-section .container article, .event-container article{
    animation-name: blur-in;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    animation-fill-mode: both;
}
.popular-listing-section .container article:nth-child(odd), .event-container article:nth-child(odd){
     animation-range: entry 0% cover 35%;
}


.package-box article{
    animation-name: fade-in;
    animation-timeline: view();
    animation-fill-mode: both;
}
.package-box article:nth-child(1){
    animation-range: entry 0% cover 20%;
}
.package-box article:nth-child(2){
    animation-range: entry 0% cover 30%;
}
.package-box article:nth-child(3){
    animation-range: entry 0% cover 40%;
}


@keyframes bounce-up-down {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
        transform: scaleX(0.5) translateY(40px);
    }
    to{
        opacity: 1;
        transform: scaleX(1) translateY(0);
    }
}
@keyframes blur-in {
    0%{
        opacity: 0;
        /* transform: translateY(100px); */
    }
    50%{
        filter: blur(80px) grayscale(1);
    }
    100%{
        opacity: 1;
        /* transform: translateY(0); */
         filter: blur(0) grayscale(0);
    }
}