*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =================
    HERO SECTION 
    ============ */

.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.495), rgba(0, 0, 0, 0.476)), url(/images/Index-Images/banner-4-D7uJZLw4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    background-blend-mode: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    padding-bottom: 60px;
}
h1{
    color: var(--white);
    margin-bottom: 8px;
}
.hero-section p{
    color: var(--white);
    font-size: 1.25rem ;
    line-height: 1.8;
}
.search-box{
    background-color: white;
    padding: 11px;
    margin-block: 58px 53px;
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 80px;
}
.search-box input{
    padding: 6px 12px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--dark-200);
    font-weight: 500;
    line-height: 1.5;
    font-size: 1rem;
}
.search-box input::placeholder{
    color: #545454;
    font-size: 15px;
}
.search-box label{
    color: var(--dark-200);
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    padding-block: 5px;
}
.search-box .place-name, .search-box .place-location{
    width: 100%;
    display: flex;
    align-items: center;
}
.search-box button{
    padding: 10px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    width: 30%;
    height: 56px;
    font-weight: 600;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 80px;
    color:white;
    cursor: pointer;
    transition: 0.4s;
}
.search-box button:hover{
    background-color: var(--red-hover);
}
.icon-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.icon-box .icon{
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px solid rgba(255, 255, 255, 0.319);
    cursor: pointer;
    transition: 0.3s;
}
.icon-box svg{
    width: 28px;
    height: 28px;
    transition: 0.3s;
    fill: white;
}
.icon-box .icon:hover{
    background-color: white;

    svg{
        fill: var(--red);
    }
}
.down-icon{
    background-color: rgba(255, 255, 255, 0.117);
    border: 1px solid rgba(255, 255, 255, 0.319);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 5px;
    border-radius: 20px;
    margin-top: 40px;
}
.down-icon svg{
    font-size: 25px;
    fill: white;
}