.name, .phone-email {
  display: flex;
  gap: 15px;
}
input, select, textarea{
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border-radius: 4px; 
  border: 1px solid rgba(178, 178, 178, 0.511);
}
h2{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  box-shadow: 0 0 9px rgba(178, 178, 178, 0.511);
  width: 60%;
  margin-inline: auto;
  border-radius: 10px;
  margin-top: 50px;
  padding: 22px;
}
.btn{
  background-color: var(--red);
  border:None; 
  cursor: pointer;
  color: white;
  font-weight: 500;
}